/* Navbar */
header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--color-secondary-dark);
    color: var(--color-title-dark);
    padding: 5px;
    overflow: visible;
    border-radius: 4px;
    width: 67%;
    margin: 50px auto 0;
    box-shadow: 0 5px 50px #2e3440;
    z-index: 5;
}

header img {
    width: 45px;
    border-radius: 50%;
    vertical-align: middle;
}

header a {
    float: left;
    color: var(--color-primary-dark);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 19px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: 400;
    border: none;
}

header a:hover {
    top: 0px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    color: var(--light-blue);
    background-color: var(--color-third-dark);
}

header a:active {
    background-color: var(--color-fourth-dark);
}

.topnav-content {
    padding: 10px 5px;
    float: right;
    transition: all 0.1s ease-in-out;
}

.topnav-content .icon {
    display: none;
    transition: none;
}

/* Change header display based on screen width */
@media screen and (max-width: 744px) {
    /* Change look of topbar */
    .topnav-content a,
    .dropdown .button {
        display: none;
    }

    .topnav-content a.icon {
        float: right;
        display: block;
        right: -12px;
    }

    header {
        width: inherit;
        margin: 0;
        border-radius: 0;
    }

    /* Move elements to a separate dropdown */
    .topnav-content.responsive {
        width: 98%;
    }

    .topnav-content.responsive a.icon {
        position: absolute;
        right: 18px;
        top: 15px;
    }

    .topnav-content.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav-content.responsive .dropdown {
        float: none;
    }

    .topnav-content.responsive .dd-content {
        position: absolute;
        background-color: var(--color-third-dark);
        width: 96.2vw;
    }

    .topnav-content.responsive .dd-content a:hover {
        background-color: var(--color-fourth-dark);
    }

    .topnav-content.responsive .dropdown .button {
        display: block;
        width: 102%;
        text-align: left;
    }
}

/* Dropdowns */
.dropdown {
    float: left;
    overflow: hidden;
    padding: 10px 5px;
    float: right;
}

.dropdown .button {
    font-size: 19px;
    border: none;
    outline: none;
    color: var(--color-primary-dark);
    background-color: var(--color-secondary-dark);
    font-family: inherit;
    font-weight: 400;
    padding: 12px 12px 15.5px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -5px;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown .button:hover {
    background-color: var(--color-third-dark);
    color: var(--light-blue);
    transition: all 0.1s ease-in-out;
}

.dropdown .button:active {
    background-color: var(--color-fourth-dark);
}

.dropdown .dd-active,
.dropdown .dd-active:hover {
    background-color: var(--color-fourth-dark);
    color: var(--light-blue);
}

.dropdown .button:after {
    content: ' \f0d7';
    font-family: 'FontAwesome';
    position: relative;
    top: 3px;
}

.dropdown .dd-active:after {
    content: ' \f0d8';
    font-family: 'FontAwesome';
}

.dd-content {
    display: none;
    position: absolute;
    background-color: var(--color-third-dark);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    transform: translate(-5px, 6px);
}

.dd-content a {
    float: none;
    background-color: var(--color-third-dark);
    color: var(--color-primary-dark);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dd-content a:hover {
    background-color: var(--color-fourth-dark);
    color: var(--color-header-dark);
}

.show {
    display: block;
    border-radius: 4px;
}
